<ion-content color="primary" padding>
  <ion-grid>
    <form>
      <ion-row>
    <ion-col>
          <div text-center>
         <h3>Login</h3>
          </div>
    <div padding>
         <ion-item>
        <ion-input type="email" placeholder="youremail.com"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="password" placeholder="password"></ion-input>
      </ion-item>
          </div>
    <div padding>
         <ion-button type="button" (click)="login()"  size="large" expand="block">Entrar</ion-button>
          </div>
    </ion-col>
      </ion-row>
</form> 
<ion-row>

</ion-row>
 </ion-grid>
</ion-content>
